/*Typography starts here*/

h1 {
	font-size: 60px; 
	font-family: 'Lora', serif;	
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Lora', serif;	
	text-align: center;
	letter-spacing: 0.1em;
}

h3 {
	font-family: 'Lora', serif;
	text-align: center;
}

body {
	text-align: center;
	margin-top: 70px;
}

table {
	width: 50%;
}

table.center {
	margin-left: auto;
	margin-right: auto;
}

th {
	text-align: left;
}

tr {
	text-align: left;
}

td {
	padding: 0px;
}

img {
	margin-left: auto;
	margin-right: auto;
}

#navbar {
    margin: auto;
    width: 197px;
    background-color: white;
    border: 1px solid white;
}

#nav li a {
	text-align: center;
	font-family: 'Lora', serif;	
	font-size: 14px;
}


// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
