body {
	text-align: center;
	margin-top: 70px;
}

// ___________________________________Typography starts here//

h1 {
	font-size: 60px; 
	font-family: 'Lora', serif;	
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Lora', serif;	
	text-align: center;
	letter-spacing: 0.1em;
	border-bottom: 1px solid #9d9d9d;
	margin-bottom: 20px;
}

h3 {
	font-family: 'Lora', serif;
	text-align: center;
}

h4 {
	font-family: 'Lora', serif;	
	text-align: center;
	margin-top: 20px;
}


//_________________________________ Product table starts here//

table {
	width: 50%;
}

table.center {
	margin-left: auto;
	margin-right: auto;
}

th {
	text-align: left;
}

tr {
	text-align: left;
}

td {
	padding: 0px;
}

img {
	margin-left: auto;
	margin-right: auto;
}


// _________________________________ Navbar starts here//


.container-fluid {
	width: 400px;
}

.navbar {
    margin: auto;
    width: 280px;
    background-color: white;
    border: 1px solid white;
}

#nav li a {
	text-align: center;
	font-family: 'Lora', serif;	
	font-size: 14px;
	font-weight: bold;
}

#nav li a:hover {
	color: black;
}

#SearchLabelTag {
	color: #9d9d9d;
	font-size: 14px;
	font-family: 'Lora', serif;	
	font-weight: normal !important;
	margin-top: 16px;
	display: inline-block;
}

#q {
	width: 20px;
	display: inline-block;
}


//___________________________________ footer starts here//

#footer {
	margin-top: 15px;
	width: 100%;
	text-align: center;
	border-top: 1px solid #9d9d9d;
	padding-top: 20px;
}

#footer a {
	color: black;
	font-family: 'Lora', serif;	
	font-size: 14px;
	font-weight: bold;
	color: #9d9d9d;
}

#footer a:hover {
	color: black;
	text-decoration: none;
	background-color: white;
}


//___________________________________ Contact page starts here//

.row {
	width: 100%;
	margin-left: 33%;
}





// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
