<!DOCTYPE html>
<html>
<head>
  <title>Fredibausstore</title>

  <!--Bootstrap CSS starts here-->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <!--jQuery library starts here-->
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <!--Bootstrap Javascript starts here-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>

<!--hier kann auch die Navbar, footer.... hin-->

<h1>Fredi Baus Store</h1>
<h2>Handmade Fashion from Italy</h2>


<%= yield %>

</body>
</html>
